body {
    background-color: #17181C;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
}

.pulse {
    position: relative;
    background: none;
    color: #ff760c;
    top: 100px;
    left: 300px;
    border: 2px solid;
    padding: 15px 40px;
    transition: 0.25s;
}

.pulse:hover, .pulse:focus {
    color: #fff;
    border-color: #ef8f6e;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    animation: pulsar 1s;
}

@keyframes pulsar {
    0% {
        box-shadow: 0 0 0 5px #ef8f6e;
    }
}